<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.override.cantabile" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/Intro" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Intro" >
        </activity>
        <activity
            android:name=".SignupActivity"
            android:theme="@style/Intro" >
        </activity>
        <activity
            android:name=".InfoActivity"
            android:theme="@style/Intro" >
        </activity>
        <activity
            android:name=".MySongActivity"
            android:label="@string/title_activity_my_song"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".NetworkActivity"
            android:label="@string/title_activity_network"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET">
        </uses-permission>

</manifest>
